# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
.bundle/
vendor/bundle/
vendor/cache/
vendor/gems/
vendor/ruby/

# Ruby
*.gem

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs
.vscode/
.idea/

# Environment variables
.env
.env.*

# Node.js (nếu dùng webpack, gulp, npm...)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
tmp/
temp/
